/* Стилизация раздела с клиентами */

.clients-section__title {
   text-align: center;

   margin-top: 0;
   margin-bottom: 50px;

   font-size: 36px;
   line-height: 1.16;

   color: var(--secondary-text-color);
}

.clients-list {
   display: flex;
   justify-content: center;
   align-items: center;
}

.clients-list__item:not(:last-child) {
   margin-right: 30px;
}

.clients-list__link {
   display: flex;
   width: 170px;
   height: 92px;
   justify-content: center;
   align-items: center;

   border: 1px solid var(--icon-color);
   border-radius: 4px;

   fill: var(--icon-color);
   transition: border 250ms var(--timing-function),
      fill 250ms var(--timing-function);

}

.clients-list__link:hover,
.clients-list__link:focus {
   fill: var(--accent-color);
   border: 1px solid var(--accent-color);
}